<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/navbar.ejs'); %>

    <div class="header has-background-grey-lighter">
        <div class="container">
            <h1 class="title"><%= locals.title %></h1>
            <p class="subtitle is-6">Manage your forum's content and settings</p>
        </div>
    </div>

    <div class="container">
        
    </div>

    <%- include('../partials/scripts.ejs'); %>
</body>
</html>