<aside class="menu">
    <ul class="menu-list">
        <li><a href="/admin">Overview</a></li>
    </ul>

    <p class="menu-label">Content</p>
    <ul class="menu-list">
        <li><a href="/admin/categories">Categories</a></li>
    </ul>
    <p class="menu-label">Settings</p>
    <ul class="menu-list">
        <li><a href="/admin/templates">Templates</a></li>
        <li><a href="/admin/extensions">Extensions</a></li>
    </ul>
</aside>