<aside class="menu">
    <ul class="menu-list">
        <li><a href="/admin">Overview</a></li>
    </ul>

    <p class="menu-label">Content</p>
    <ul class="menu-list">
        <li><a href="/admin/categories">Categories</a></li>
    </ul>
    <p class="menu-label">Theming</p>
    <ul class="menu-list">
        <li><a href="/admin">Templates</a></li>
    </ul>
</aside>