<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="theme-color" content="#393F49" />

    <title><%= locals.title %></title>

    <link href="/css/bulma.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/animate.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />

    <script src="/js/toasts.min.js"></script>
    <script src="/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- modal-fx by postare | github.com/postare/bulma-modal-fx -->
    <link href="/css/bulma-modal-fx.min.css" type="text/css" rel="stylesheet" />
    <script src="/js/bulma-modal-fx.min.js"></script>
</head>