<script>
    (function () {
        let active = false;
        window.toggleNavbar = function () {
            const menu = document.querySelector("div.navbar-menu");
            const navBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if (!menu && navBurgers.length < 1) {
                active = false;
                return;
            }
            active = !active;
            if (active) {
                for (const navBurger of navBurgers) navBurger.classList.add("is-active");
                menu.classList.add("is-active");
            } else {
                for (const navBurger of navBurgers) navBurger.classList.remove("is-active");
                menu.classList.remove("is-active");
            }
        }
    })();
</script>
<div class="container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <b><%= locals.title %></b>
            </a>
            <a role="button" class="navbar-burger" onclick="toggleNavbar()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Forums</a>
            </div>
            <div class="navbar-end">
                <% if (!locals.user) { %>
                    <a class="navbar-item" href="/login">Login</a>
                    <a class="navbar-item" href="/register">Register</a>
                <% } else { %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"><%= locals.user.username %></a>
                    
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/@<%= locals.user.username %>">Profile</a>
                            <a class="navbar-item">Private Messages</a>

                            <hr class="navbar-divider">

                            <a class="navbar-item" href="/@<%= locals.user.username %>/settings">Settings</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="/logout">Logout</a>
                    <% if (locals.user.admin) { %>
                        <a class="navbar-item has-text-link" href="/admin">Admin</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </nav>
</div>