<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <b><%= locals.title %></b>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">Forums</a>
            </div>

            <div class="navbar-end">
                <% if (!locals.user) { %>
                    <a class="navbar-item" href="/login">Login</a>
                    <a class="navbar-item" href="/register">Register</a>
                <% } else { %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"><%= locals.user.username %></a>
                    
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/@<%= locals.user.username %>">Profile</a>
                            <a class="navbar-item">Private Messages</a>

                            <hr class="navbar-divider">

                            <a class="navbar-item" href="/@<%= locals.user.username %>/settings">Settings</a>
                        </div>
                    </div>
                    <a class="navbar-item" href="/logout">Logout</a>
                    <% if (locals.user.admin) { %>
                        <a class="navbar-item has-text-link" href="/admin">Admin</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </nav>
</div>