<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/navbar.ejs'); %>

    <div class="container">
        <h1 class="title">404</h1>
        <p class="subtitle is-6">No content or responses was found at <code><%= route %></code>. <a href="/">Go back to the homepage.</a></p>
    </div>

    <%- include('../partials/scripts.ejs'); %>
</body>
</html>