<!DOCTYPE html>
<html>
<%- include('partials/head.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>

    <div class="container">
        <% if (!categories.length) { %>
            <p class="subtitle is-6 has-text-grey">No categories have been created.</p>
        <% } else { %>
            <% categories.sort((a, b) => parseInt(b.position) - parseInt(a.position)).forEach(category => { %>
                <article class="message is-info">
                    <div class="message-header">
                        <p><%= category.name %></p>
                    </div>
                    <div class="message-body">
                        <p>Sub-categories will appear here.</p>
                    </div>
                </article>
            <% }); %>
        <% } %>
    </div>

    <%- include('partials/scripts.ejs'); %>
</body>
</html>